<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <label>Title</label></br>
      <%= f.text_field :title %></br>
    <label>Option</label></br>
      <%= f.text_area :body %></br>
    <%= f.submit "Create Book" %>
  <% end %>